<div>
  <img v-if="loading && !fetchError" class="rsPage-loader" src="../../../static/tail-spin.svg" alt="rackspace loader" />
  <div v-if="!loading && !fetchError && filteredContent.total > 0">
    <a class="rsTl-feature-header" :href="featured.first.alias">
      <picture class="rsTl-feature-headerBackground">
         <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source class="rsTl-feature-headerBackgroundContent" :srcset="featured.first.banner_1600 + ' 1x'" media="all and (min-width: 1280px)" type="image/jpeg"/>
        <source class="rsTl-feature-headerBackgroundContent" :srcset="featured.first.banner_1280 + ' 1x'" media="all and (min-width: 992px) and (max-width: 1279px)" type="image/jpeg"/>
        <source class="rsTl-feature-headerBackgroundContent" :srcset="featured.first.banner_992 + ' 1x'" media="all and (min-width: 768px) and (max-width: 991px)" type="image/jpeg"/>
        <source class="rsTl-feature-headerBackgroundContent" :srcset="featured.first.banner_768 + ' 1x'" media="all and (min-width: 480px) and (max-width: 767px)" type="image/jpeg"/>
        <source class="rsTl-feature-headerBackgroundContent" :srcset="featured.first.banner_480 + ' 1x'" type="image/jpeg"/>
        <!--[if IE 9]></video><![endif]-->
        <img class="rsTl-feature-headerBackgroundContent" :src="featured.first.banner_1280" :alt="featured.first.title">
      </picture>
      <div class="rsTl-feature-headerContainer container container-xl">
        <div class="rsTl-feature-headerInner">
          <div class="rsTl-feature-text">
            <span class="rsTl-article-read"><strong>{{ featured.first.field_content_type }}</strong> ({{ featured.first.field_content_length }} {{ ' minute ' + viewAction[featured.first.field_content_type] | translate }})</span>
            <h1 class="rsTl-feature-title">{{ featured.first.title }}</h1>
            <p class="rsTl-feature-p" v-html="$options.filters.truncate(featured.first.body, 200)"></p>
            <p class="rsTl-feature-p">
              <span class="rsTl-feature-author">{{ featured.first.field_author }}</span> – {{ formatDate(featured.first.field_published_date) }}
            </p>
            <p>
              <button
                :href="featured.first.alias"
                class="button lead rsTl-relatedTopics-btn">
                {{ ctaText[featured.first.field_content_type] | translate }}
              </button>
            </p>
          </div>
        </div>
      </div>
    </a>
    <div class="container container-xl">
      <div class="rsTl-article-row" v-if="featured.second">
        <div class="rsTl-column">
          <div class="rsTl-featuredLarge-row">
            <a class="rsTl-featuredLarge-inner" :href="featured.second.alias">
              <div class="rsTl-featuredLarge-img" :style="{ 'background-image': 'url(' + featured.second.solve_secondary + ')' }"></div>
              <div class="rsTl-featuredLarge-text">
                <span class="rsTl-featuredLarge-type">
                  <strong>{{ featured.second.field_content_type }}</strong> ({{ featured.second.field_content_length }} {{ ' minute ' + viewAction[featured.second.field_content_type] | translate }})
                </span>
                <h3 class="rsTl-relatedTopics-smallHeader">{{ featured.second.title }}</h3>
                <p v-html="$options.filters.truncate(featured.second.body, 200)"></p>
                <p>
                  <button
                    :href="featured.second.alias"
                    class="button lead rsTl-relatedTopics-btn">
                    {{ ctaText[featured.second.field_content_type] | translate }}
                  </button>
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="rsTl-article-row" v-if="filteredContent.full.length > 0">
        <div class="rsTl-column">
          <div class="rsTl-relatedTopics-row rsTl-relatedTopics-2colRow">
            <div class="rsTl-relatedTopics-col" v-for="article in filteredContent.trimmed">
              <a class="rsTl-relatedTopics-feature" :href="article.alias">
                <div class="rsTl-relatedTopics-img" :style="{ 'background-image' : 'url(' + article.solve_tertiary + ')' }"></div>
                <div class="rsTl-relatedTopics-text">
                  <span class="rsTl-relatedTopics-type">
                    <strong>{{ article.field_content_type }}</strong> ({{ article.field_content_length }} {{ ' minute ' + viewAction[article.field_content_type] | translate }})
                  </span>
                  <h3 class="rsTl-relatedTopics-smallHeader">{{ article.title }}</h3>
                  <button
                    :href="article.alias"
                    class="button lead rsTl-relatedTopics-btn">
                    {{ ctaText[article.field_content_type] | translate }}
                  </button>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <p>
        <a
          href="#"
          v-if="visibleContent < filteredContent.full.length"
          @click.prevent="loadMore">
          {{ 'Load More Posts' | translate }}
        </a>
      </p>
    </div>
  </div>
  <div v-if="!loading && filteredContent.total < 1">
    {{ 'No articles could be found. Please try again later.' | translate }}
  </div>
  <div v-if="!loading && fetchError" class="rsTl-error">
    {{ fetchError | translate }}
  </div>
</div>
