<div>
  <img v-if="loading && !fetchError" class="rsPage-loader" src="../../../static/tail-spin.svg" alt="rackspace loader" />

  <div class="rsTl-contentContainer container container-xl rsTl-topic-section" v-if="topic.header && !loading && !fetchError">
    <h1 v-html="topic.header"></h1>
    <h3 v-html="topic.desc"></h3>
  </div>

  <div v-if="!loading && !fetchError && filteredContent.total > 0">
    <div class="rsTl-feature-header" v-if="featured.first">
      <picture class="rsTl-feature-headerBackground">
         <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source class="rsTl-feature-headerBackgroundContent" :srcset="featured.first.banner_1600 + ' 1x'" media="all and (min-width: 1280px)" type="image/jpeg"/>
        <source class="rsTl-feature-headerBackgroundContent" :srcset="featured.first.banner_1280 + ' 1x'" media="all and (min-width: 992px) and (max-width: 1279px)" type="image/jpeg"/>
        <source class="rsTl-feature-headerBackgroundContent" :srcset="featured.first.banner_992 + ' 1x'" media="all and (min-width: 768px) and (max-width: 991px)" type="image/jpeg"/>
        <source class="rsTl-feature-headerBackgroundContent" :srcset="featured.first.banner_768 + ' 1x'" media="all and (min-width: 480px) and (max-width: 767px)" type="image/jpeg"/>
        <source class="rsTl-feature-headerBackgroundContent" :srcset="featured.first.banner_480 + ' 1x'" type="image/jpeg"/>
        <!--[if IE 9]></video><![endif]-->
        <img class="rsTl-feature-headerBackgroundContent" :src="featured.first.banner_1280" alt="">
      </picture>
      <div class="rsTl-feature-headerContainer container container-xl">
        <div class="rsTl-feature-headerInner">
          <div class="rsTl-feature-text">
            <span class="rsTl-article-read"><strong>{{ featured.first.field_content_type | translate }}</strong> ({{ featured.first.field_content_length }} {{ ' minute ' + viewAction[featured.first.field_content_type_key] | translate }})</span>
            <h1 class="rsTl-feature-title"><a class="rsTl-feature-titleLink track-cta" :href="featured.first.alias" v-html="featured.first.header"></a></h1>
            <p class="rsTl-feature-p" v-html="$options.filters.truncate(featured.first.body, 200)"></p>
            <p class="rsTl-feature-p">
              <span class="rsTl-feature-author" v-if="featured.first.field_syndicated_content === 'True'" v-html="featured.first.field_attribution_name"></span>
              <span class="rsTl-feature-author" v-else v-html="featured.first.field_author"></span> – {{ getDateString(featured.first.field_published_date) }}
            </p>
            <p>
              <a
                :href="featured.first.alias"
                class="button rsTl-feature-btn track-cta">
                {{ ctaText[featured.first.field_content_type_key] | translate }}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="rsTl-contentContainer container container-xl">
      <div class="rsTl-article-row" v-if="featured.second">
        <div class="rsTl-column">
          <div class="rsTl-featuredLarge-row">
            <div class="rsTl-featuredLarge-inner">
              <a class="rsTl-featuredLarge-img track-cta" :href="featured.second.alias" :style="{ 'background-image': 'url(' + featured.second.solve_secondary + ')', 'background-position': 'top right' }"></a>
              <div class="rsTl-featuredLarge-text">
                <span class="rsTl-featuredLarge-type">
                  <strong>{{ featured.second.field_content_type | translate }}</strong> ({{ featured.second.field_content_length }} {{ ' minute ' + viewAction[featured.second.field_content_type_key] | translate }})
                </span>
                <h3 class="rsTl-relatedTopics-smallHeader"><a class="rsTl-relatedTopics-link track-cta" :href="featured.second.alias" v-html="featured.second.header"></a></h3>
                <p v-html="$options.filters.truncate(featured.second.body, 200)"></p>
                <p>
                  <a
                    :href="featured.second.alias"
                    class="button rsTl-secondary-btn track-cta">
                    {{ ctaText[featured.second.field_content_type_key] | translate }}
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rsTl-article-row" v-if="filteredContent.full.length > 0">
        <div class="rsTl-column">
          <div class="rsTl-relatedTopics-row rsTl-relatedTopics-2colRow">
            <div class="rsTl-relatedTopics-col" v-for="(article, index) in filteredContent.trimmed" :style="getGridStyles(index)" >
              <div class="rsTl-relatedTopics-feature">
                <a class="rsTl-relatedTopics-img track-cta" :href="article.alias" :style="{ 'background-image' : 'url(' + article.solve_tertiary + ')', 'background-position': 'top right' }"></a>
                <div class="rsTl-relatedTopics-text">
                  <span class="rsTl-relatedTopics-type">
                    <strong>{{ article.field_content_type | translate }}</strong> ({{ article.field_content_length }} {{ ' minute ' + viewAction[article.field_content_type_key] | translate }})
                  </span>
                  <h3 class="rsTl-relatedTopics-smallHeader"><a class="rsTl-relatedTopics-link track-cta" :href="article.alias" v-html="article.header"></a></h3>
                  <a
                    :href="article.alias"
                    class="button rsTl-tertiary-btn track-cta">
                    {{ ctaText[article.field_content_type_key] | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>
        <a
          href="#"
          v-if="visibleContent < filteredContent.full.length"
          @click.prevent="loadMore">
          {{ 'Load More Posts' | translate }}
        </a>
      </p>
    </div>
  </div>
  <div v-if="!loading && filteredContent.total < 1">
    {{ 'No articles could be found. Please try again later.' | translate }}
  </div>
  <div v-if="!loading && fetchError" class="rsTl-error">
    {{ fetchError | translate }}
  </div>
</div>
