<div>
  <img v-if="loading" class="rsPage-loader" src="/static/circle-loader.svg" alt="rackspace loader" />
  <div v-if="!loading">
    <div class="rsTl-feature-header">
      <div class="container container-xl">
        <div class="rsTl-feature-headerInner">
          <div class="rsTl-feature-text">
            <span class="rsTl-article-read">Article (12 minute read)</span>
            <h1 class="rsTl-feature-title">Why You Need a Multi-Layered Security & Compliance Strategy</h1>
            <p class="rsTl-feature-p">
              While many businesses still tend to run their own IT, the challenges facing
              these internal teams is increasing.
            </p>
            <p class="rsTl-feature-p">
              <span class="rsTl-feature-author">Pierre Fricke</span> – October 21, 2019
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container container-xl">
      <div class="rsTl-article-row">
        <div class="rsTl-column">
          <div class="rsTl-relatedTopics-row">
            <div class="rsTl-relatedTopics-col">
              <div class="rsTl-relatedTopics-feature">
                <div class="rsTl-relatedTopics-img" style="background-image:url('/static/doge-small.png');"></div>
                <div class="rsTl-relatedTopics-text">
                  <span class="rsTl-relatedTopics-type"><strong>Video</strong> (1 minute view)</span>
                  <h3 class="rsTl-relatedTopics-smallHeader">Real IT Modernization in Action</h3>
                  <a class="button lead rsTl-relatedTopics-btn">Watch the Video</a>
                </div>
              </div>
            </div>
            <div class="rsTl-relatedTopics-col">
              <div class="rsTl-relatedTopics-feature">
                <div class="rsTl-relatedTopics-img" style="background-image:url('/static/doge-small.png');"></div>
                <div class="rsTl-relatedTopics-text">
                  <span class="rsTl-relatedTopics-type"><strong>Podcast</strong> (24 minute listen)</span>
                  <h3 class="rsTl-relatedTopics-smallHeader">What Real Digital Transformation Looks Like</h3>
                  <a class="button lead rsTl-relatedTopics-btn">Listen Now</a>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
    
  </div>
</div>