.rsPage-loader {
  display: block;
  margin: 50px auto;
  width: 150px;
}

// TODO remove this when zoolander is updated
.rsTl-feature-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
