$syndicate-blue: #d7eafa;

.rsPage-loader {
  display: block;
  margin: 50px auto;
  width: 150px;
}

.rsTl-error {
  color: #e32727;
}

.rsTl-topic-section {
  padding-bottom: 35px;
}

.rsTl-feature-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rsTl-featuredLarge-row {
  // sass-lint:disable-block no-vendor-prefixes no-duplicate-properties
  -ms-grid-columns: 1fr;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
}

.rsTl-featuredLarge-inner {
  // sass-lint:disable-block no-vendor-prefixes no-duplicate-properties
  -ms-grid-columns: 1fr 1fr;
  display: -ms-grid;
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(2, 1fr);
}

.rsTl-featuredLarge-img {
  // sass-lint:disable-block no-vendor-prefixes
  -ms-grid-column: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  min-height: 300px;

  &:hover {
    box-shadow: 0 0 16px -1px transparentize($black, .8);
  }
}

.rsTl-featuredLarge-text {
  // sass-lint:disable-block no-vendor-prefixes
  -ms-grid-column: 2;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;

  p {
    width: 100%;
  }
}

.rsTl-featuredLarge-type {
  font-size: 14px;
  width: 100%;
}

.rsTl-relatedTopics-smallHeader {
  width: 100%;
}

.rsTl-relatedTopics-type {
  width: 100%;
}

.rsTl-secondary-btn,
.rsTl-tertiary-btn {
  background: $rackspace-red;
  color: $white;
  font-weight: 500;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;

  &:focus,
  &:hover {
    background-color: darken($rackspace-red, 15%);
    color: $white;
    text-decoration: none;
  }
}

.rsTl-feature-btn {
  background-color: $rackspace-red;
  color: $white;
  font-weight: 500;

  &:hover {
    background-color: darken($white, 5%);
  }
}

.rsTl-feature-titleLink {

  &:focus,
  &:hover {
    color: darken($black, 1%);
    text-decoration: none;
  }
}

.rsTl-relatedTopics-link {
  &:focus,
  &:hover {
    color: darken($black, 1%);
    text-decoration: none;
  }
}

.rsTl-syndicatedBox {
  background-color: $syndicate-blue;
  padding: 10px 25px;
}

.rsTl-syndicatedBox-header {
  font-weight: 600;
}

.rsTl-syndicatedBox-logo {
  align-items: center;
  display: flex;
  padding: 0;
}

.rsTl-syndicatedBox-logoImg {
  width: 75%;
}

.rsTl-syndicatedBox-text {
  padding: 12px;
}

// edge hacks
@supports (-ms-ime-align: auto) { // sass-lint:disable-line no-vendor-prefixes
  .rsTl-relatedTopics-col {
    margin-bottom: 35px;
    margin-right: 35px;
  }
}

// ie 11 hacks
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // sass-lint:disable-line no-vendor-prefixes
  .rsTl-relatedTopics-col {
    margin-bottom: 35px;
    margin-right: 35px;
  }
}

// mobile rules
@media screen and (max-width: $screen-sm-min - 1) {

  .rsTl-featuredLarge-img {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-area: 1 / 1 / 2 / 3;
  }

  .rsTl-featuredLarge-text {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-area: 2 / 1 / 3 / 3;
    padding-left: 0;
    padding-right: 0;
  }

  .rsTl-syndicatedBox-header {
    margin-bottom: 35px;
  }

  .rsTl-syndicatedBox-logoImg {
    width: initial;
  }
}

@media screen and (max-width: $screen-md-min - 1) {
  .rsTl-relatedTopics-row {
    display: block;
  }

  .rsTl-relatedTopics-col {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: $screen-md-min) {
  .rsTl-feature-titleLink {
    color: $white;

    &:focus,
    &:hover {
      color: darken($white, 5%);
      text-decoration: none;
    }
  }

  .rsTl-feature-btn {
    background-color: $white;
    color: $rackspace-red;
  }
}
